<template name="App_body">
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/user/learn">Learn</a></li>
            <li><a href="/user/play">Play</a></li>
            <li><a href="/admin/words">Words</a></li>
            <li><a href="/admin/sentences">Sentences</a></li>
            <li><a href="/admin/collections">Collections</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron" id="content-container">
          {{#if Template.subscriptionsReady}}
            {{> Template.dynamic template=main}}
          {{else}}
            Loading...
          {{/if}}
    </div>
  </div>
</template>